[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
pytest = "*"
pylint = "*"
radon = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-bootstrap-theme = "*"
tqdm = "*"
graphviz = "*"
gprof2dot = "*"
gymnasium = "*"
autopep8 = "*"
pygame = "*"

[requires]
python_version = "3.10.0"
