[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gprof2dot = "*"

[packages]
numpy = "*"
matplotlib = "*"
pykitml = {editable = true,path = "."}
pytest = "*"
pylint = "*"
radon = "*"
sphinx = "==1.8.5"
sphinx-rtd-theme = "*"
sphinx-bootstrap-theme = "*"
tqdm = "*"
graphviz = "*"

[requires]
python_version = "3.6"
